.newPostPage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    overflow-y: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
          }

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .btn {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .ai-div {
        // border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        margin-top: 10px;

        .ai-header {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .ai-img {
            height: 50px;
          }

          .ai-heading {
            font-size: 25px;
          }
        }
        .ai-wrapper {
          .ai-btn {
            padding: 20px;
            margin: 10px;
            width: 200px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
          .predicted-price {
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    border: 1px solid black;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 200px;
    padding-bottom: 20px;
    // margin-top: 20px;

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
